@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --dark-blue: hsl(229, 31%, 21%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  min-height: 100vh;
}

header {
  padding: 15px 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 60px 0 0 15px;
}

.hamburger {
  cursor: pointer;
}

.hero__section {
  display: grid;
  gap: 1em;
}

.hero__img {
  position: relative;
  z-index: 1;
}

.hero__img img {
  max-width: 330px;
  max-height: 350px;
}

.hero__img .hero-svg {
  position: absolute;
  right: 0;
  top: 55px;
  border-radius: 250px 0 0 250px;
  height: 180px;
  width: 310px;
  background-color: var(--soft-blue);
  z-index: -1;
}

.hero__content h1 {
  text-align: center;
}

.content_paragraph {
  padding: 20px 15px;
  text-align: center;
  color: var(--grayish-blue);
  font-size: 17px;
}

.hero__btns {
  text-align: center;
}

.btn {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--soft-blue);
  color: white;
  font-weight: 500;
  box-shadow: 0 9px 10px -10px var(--soft-blue);
}

.btn.btn-primary {
  background-color: whitesmoke;
  color: var(--grayish-blue);
  box-shadow: 0 9px 10px -10px var(--grayish-blue);
}

/* Desktop Style for Hero */
.nav-menu {
  list-style-type: none;
  display: none;
  align-items: center;
  gap: 2em;
}

.nav-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  font-size: 16px;
}

.btn.btn-secondary {
  padding: 8px 25px;
  background-color: var(--soft-red);
  box-shadow: 0 9px 10px -10px var(--soft-red);
  color: white;
  text-transform: uppercase;
}

/* Hover effects for Hero section */
.btn:hover {
  background-color: white;
  color: var(--soft-blue);
  border: 2px solid var(--soft-blue);
  padding: 8px;
}

.btn.btn-primary:hover {
  color: var(--grayish-blue);
  border: 2px solid var(--grayish-blue);
}

.btn.btn-secondary:hover {
  padding: 6px 23px;
  color: var(--soft-red);
  border: 2px solid var(--soft-red);
}

.nav-menu a:hover {
  color: var(--soft-red);
}

/* Features section */
.features__content {
  padding: 30px 10px;
}

.features__content h2 {
  text-align: center;
}

.features__content p {
  padding: 20px;
  text-align: center;
  color: var(--grayish-blue);
  font-size: 16px;
  font-weight: 400;
}

.features__tab{
    margin: 20px 0;
    border-top: 1px solid var(--grayish-blue);
}

.features__tab p{
    border-bottom: 1px solid var(--grayish-blue);
}



/* Media Query for 1440px */
@media only screen and (min-width: 1024px) {
  .nav-menu {
    display: flex;
  }
  .hamburger {
    display: none;
  }
  .hero__section {
      grid-template-columns: repeat(2,1fr);
  }
}
